@import url("reset.css");
@import url("base.css");

/*  Підключення шрифта Sigmar One */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');


/* Підключення шрифта Roboto  */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*- homework__task-4 */
.title {
    font-family: "Bad Script", cursive;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    color: #ff0000;
    text-decoration:underline;
    text-decoration-color: rgb(255, 0, 0);
  }

  .text__box-2 .title {
    color: green;
    text-decoration-line: line-through;
    text-decoration-color: hsl(120, 100%, 25%);
  }

  /* Через @font-face */
.text__box-1 p {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 100;
}

.text__box-1 p:first-of-type {
    color: blueviolet;
    font-weight: 700;
}


/* через Link:css у HTML */
.text__box-2 p {
    font-family: "Montserrat Alternates", sans-serif;
    text-align: right;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.3px;
}

.text__box-2 p:first-of-type {
    text-align: center;
    text-shadow: 6px 6px 4px #000;
    text-transform: capitalize;
  }


  /*! Не використовується у проєкті
  white-space: nowrap;
  word-spacing: 20px; */

  /*- homework__task-5 */

  
.container.task-5 {
    padding: 40px 110px 40px;
}

  /* !звертаємось за * тільки в межах цього завдання тому що є завдання №4 на цієї ж сторінці */
.homework__task-5 * {
    font-family: 'Proxima Nova Rg',sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #2b2929;
}

.main__title {  
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;
}

.description__text {
    padding: 40px 0;
}

.description__text p {
    text-align: left;
}

.description__text p:not(:last-child) {
    /*! agreed with Ostap */
    margin-bottom: 20px;
}

.main__subtitle {
    font-size: 20px;
    text-align: left;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.task-5__list {
    margin-bottom: 40px;
}

.task-5__list li {
    margin-bottom: 20px;
    padding-left: 48px;
}
/* 
.task-5__list li::before {
    content: "";
    background-image: url(../img/list-decor.svg);
    background-size: contain;
    width: 26px;
    height: 26px;
} */

